.centered {
  margin: 0 auto;
}

.personContainer {
  background-color: lightblue;
  padding: 50px;
  height: 300px;
  width: 100%;
}

.fruitContainer {
  background-color: lightyellow;
  height: 200px;
  width: 150px;
  margin: 10px;
  float: left;
}

.fruitContainer:hover {
  background-color: yellow;
}

.fruitContainer:active {
  background-color: cyan;
  transform: translateY(4px);
}

img {
  height: 100px;
  width: 100px;
}
