.centered {
  margin: 0 auto;
}

.personContainer {
  background-color: lightblue;
  height: 100px;
  width: 100%;
}

.fruitContainer {
  background-color: lightyellow;
  height: 100px;
  width: 100px;
  margin: 10px;
  float: left;
}
